[ununifi]
ununifi_main ansible_connection=local type=main prepare=false


[all:vars]
ansible_user=root
ansible_port=22
ansible_ssh_private_key_file="~/.ssh/id_rsa"
var_file="group_vars/mainnets/{{ group_names[0] }}.yml"
user_dir="/{{ansible_user}}"
path="/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin:/usr/local/go/bin:{{ user_dir }}/go/bin"
node_name="Nodeist-{{ network }}-{{ type }}"
