---
enable_dashboard: yes
listen_port: {{ tenderduty_listen_port }}
hide_logs: no
node_down_alert_minutes: 3
node_down_alert_severity: critical
prometheus_enabled: yes
prometheus_listen_port: 28686
discord:
  enabled: yes
  webhook: {{ discord_webhook }}
telegram:
  enabled: yes
  api_key: "{{ telegram_api_key }}"
  channel: "{{ telegram_channel }}"

chains:
  "okp4":
    chain_id: okp4-nemeton-1
    valoper_address: okp4valoper194eplc7zh07yh3d23nuy85eagcpycgejx9apu3
    public_fallback: no
    alerts:
      stalled_enabled: yes
      stalled_minutes: 10
      consecutive_enabled: yes
      consecutive_missed: 5
      consecutive_priority: critical
      percentage_enabled: no
      percentage_missed: 10
      percentage_priority: warning
      alert_if_inactive: yes
      alert_if_no_servers: yes
      discord:
        enabled: yes
      telegram:
        enabled: yes
    nodes:
      - url: tcp://localhost:17657
        alert_if_down: yes
