server {
    listen 80;
    server_name {{api}}.nodeist.net;
    location / {
{% if partner is undefined %}
        limit_req zone=limitreqsbyaddr burst=150 nodelay;
{% endif %}
{% if partner is defined and (partner == "skip" or partner == "skip_extra") %}
        auth_basic "Skip";
        auth_basic_user_file ".htpasswd";
{% endif %}

add_header Access-Control-Allow-Origin *;
add_header Access-Control-Max-Age 3600;
add_header Access-Control-Expose-Headers Content-Length;
        proxy_pass http://127.0.0.1:{{custom_port_prefix}}17;
    }
}
